body{
    background-image: url("../Images/backgroundImage.jpg");
    
    
}
section {
    background-color: blue;
    width: 40%;
    height: 90%;
    margin: 10% 30% 5% 30%;
    border-radius: 10%;
    padding-top: 5%;

}
li{
    list-style: none;
}
input{

  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
  width: 70%;
  background: #fff;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 53px;

}